@media only screen and (min-width: 320px) {
  .home-div {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .hero {
    position: absolute;
    top: 2rem;
    width: 90%;
  }
  .hero span {
    margin-left: 2px;
    font-size: 0.9rem;
    display: block;
    font-family: "Walter Turncoat", cursive;
    font-weight: 800;
    color: aliceblue;
  }
  .hero h1 {
    font-size: 4rem;
    font-family: "Creepster", cursive;
    background: linear-gradient(var(--yellow-primary), red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .head-img {
    width: 80%;
    max-width: 500px;
  }
  .cta {
    position: absolute;
    bottom: 1rem;
    padding: 10px;
    border: 1px solid var(--gray-primary);
    background-color: var(--yellow-primary);
    width: 80%;
    box-shadow: -8px 4px 2px black;
  }
  .cta p {
    font-size: 0.8rem;
    font-family: "Walter Turncoat", cursive;
    margin-bottom: 0.5rem;
    font-weight: 800;
    color: red;
  }
  .cta a {
    font-size: 0.8rem;
    text-decoration: none;
    background-color: black;
    padding: 4px;
    border-radius: 4px;
    color: red;
    color: var(--white-primary);
  }
}

@media only screen and (min-width: 374px) {
  .hero {
    width: fit-content;
  }
  .hero span {
    margin-left: 1rem;
  }
  .hero h1 {
    text-align: center;
  }
  .cta p {
    font-size: 0.9rem;
  }
  .cta a {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 413px) {
  .hero span {
    margin-left: 2.2rem;
  }
}
/*  */
@media only screen and (min-width: 500px) {
  .hero {
    max-width: 500px;
  }
  .hero span {
    margin-left: 3.5rem;
    position: relative;
    font-size: 1.5rem;
  }
  .hero h1 {
    position: relative;
    font-size: 4.5rem;
  }
  .cta {
    bottom: 2rem;
  }
  .cta p,
  .cta a {
    font-size: 1rem;
  }
}
/* @media only screen and (min-width: 539px) {
  .hero span {
    margin-left: 2.2rem;
  }
  .head-img {
    width: 75%;
  }
}
@media only screen and (min-width: 768px) {
  .hero span {
    margin-left: 2.5rem;
    font-size: 2rem;
  }
  .hero h1 {
    font-size: 8rem;
  }
  .head-img {
    width: 70%;
  }
  .cta {
    width: 70%;
  }
  .cta p {
    font-size: 1.5rem;
  }
  .cta a {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .hero span {
    margin-left: 10.6rem;
    font-size: 2rem;
  }
  .cta {
    bottom: 2rem;
  }
} */
