@media screen and (min-width: 320px) {
  .container {
    z-index: 3;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--orange-primary);
    overflow-y: auto;
  }
  .modal-inner {
    background-color: var(--orange-primary);
    height: 100%;
    padding-top: 2rem;
  }
  .modal-header h1 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: "Walter Turncoat", cursive;
    color: var(--white-primary);
  }
  .modal-header button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    color: var(--orange-primary);
  }
  .modal-header span {
    display: block;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 0.8rem;
    color: var(--gray-primary);
  }
  .cart-items-container {
    background-color: var(--orange-primary);
    border: 2px solid var(--gray-primary);
    height: 75%;
    overflow-y: auto;
    margin-bottom: 5px;
    padding: 0 10px;
  }
  .cart-item {
    padding: 10px 0;
    border-bottom: 1px solid var(--gray-primary);
    position: relative;
  }
  .cart-img-div {
    object-fit: cover;
    width: 100px;
    height: 150px;
    margin-bottom: 5px;
  }
  .cart-img-div img {
    width: 100%;
    height: 100%;
  }
  .cart-item-title {
    margin-bottom: 5px;
  }
  .cart-item-title span {
    font-family: "Walter Turncoat", cursive;
    font-size: 1rem;
  }
  .cart-item-details {
    position: absolute;
    left: 7rem;
    top: 7px;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 0.8rem;
  }
  .cart-item-remove {
    padding: 3px;
    background-color: red;
    border: 1px solid var(--gray-primary);
    border-radius: 4px;
    color: var(--white-primary);
  }
  .cart-footer {
    padding: 0 5px;
  }
  .cart-footer h1 {
    font-size: 1.8rem;
    color: var(--white-primary);
    margin-bottom: 5px;
  }
  .cart-footer button {
    padding: 5px;
    border: 1px solid var(--green-dark);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--green-light);
    color: var(--white-primary);
  }
}
@media screen and (min-width: 413px) {
  .modal-header h1 {
    font-size: 2.2rem;
  }
  .modal-header span {
    font-size: 0.9rem;
  }
  .cart-img-div {
    width: 150px;
    height: 200px;
  }
  .cart-item-title span {
    font-size: 1.3rem;
  }
  .cart-item-details {
    position: absolute;
    left: 10.5rem;
    font-size: 0.9rem;
  }
  .cart-item-remove {
    padding: 4px;
    color: var(--white-primary);
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    background-color: #f08e89a2;
    display: flex;
    justify-content: flex-end;
  }
  .modal-inner {
    background-color: var(--orange-primary);
    width: 75%;
    max-width: 800px;
    padding-top: 3rem;
  }
  .modal-header h1 {
    font-size: 3rem;
  }
  .modal-header button {
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
  }
  .modal-header span {
    font-size: 1.2rem;
  }
  .cart-items-container {
    margin-bottom: 10px;
  }
  .cart-item {
    padding: 20px;
  }
  .cart-img-div {
    width: 180px;
    height: 250px;
    margin-bottom: 10px;
  }
  .cart-item-title {
    margin-bottom: 10px;
  }
  .cart-item-title span {
    font-size: 1.5rem;
  }
  .cart-item-details {
    left: 14.5rem;
    top: 15.5px;
    font-size: 1.2rem;
  }
  .cart-item-remove {
    padding: 5px;
    font-size: 1.1rem;
  }
  .cart-footer h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .cart-footer button {
    padding: 8px;
    font-size: 1.1rem;
  }
}
