/* navbar */
#navbar {
  display: flex;
  background: linear-gradient(black, #dc143c 90%);
  width: 100%;
}
#logo-div {
  background-color: transparent;
  flex-grow: 1;
}
#logo-div img {
  margin-left: 1rem;
  max-width: 120px;
  min-width: 100px;
}
#nav-links-div {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}
#nav-links-div a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  padding: 1.4rem;
  background-color: transparent;
  transition: all linear 300ms;
}
#nav-links-div a:hover {
  background-color: rgb(102, 102, 102);
}

/* active nav link */
/* ----- */
.active-nav-link {
  background-color: black !important;
  color: #dc143c !important;
}
.active-nav-link:hover {
  color: white !important;
}
