@media screen and (min-width: 320px) {
  .container {
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    width: 95%;
  }
}
@media screen and (min-width: 540px) {
  .container {
    gap: 1rem;
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1300px) {
  .container {
    gap: 1.8rem;
    grid-template-columns: repeat(5, 1fr);
  }
}
