@media screen and (min-width: 320px) {
  .container {
    display: flex;
    padding: 5px 0;
    width: 95%;
  }
  .container > li {
    list-style: none;
    margin-right: 15px;
    font-size: 1.1rem;
    text-transform: capitalize;
    background-color: var(--orange-secondary);
    padding: 1px;
    border-radius: 5px;
    color: var(--gray-primary);
  }
}
@media screen and (min-width: 540px) {
  .container {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 6px 0;
  }
  .container > li {
    font-size: 1.6rem;
    margin-right: 20px;
  }
}
