@media screen and (min-width: 320px) {
  .container {
    padding: 1rem 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(230px, auto);
    gap: 0.5rem;
  }
}
