* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*Todo change fonts */
  font-family: "Pirata One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  transition: all linear 300ms;
}
button:hover {
  cursor: pointer;
}

#container {
  position: relative;
}
